* {
  box-sizing: border-box;
  font-feature-settings: "palt";
}
html {
  font-size: 62.5%;
}
body {
  color: #4b4b4b;
}
/*ヘッダー*/
header {
  z-index: 10;
  height: 56px;
  background-color: #f1f4fc;
  position: fixed;
}
.site-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header-logo {
  margin-left: 56px;
}
.header-logo img {
  width: 50%;
  margin: 0 auto;
}
header ul {
  display: flex;
  list-style: none;
  margin-right: 56px;
}
header li {
  margin-left: 32px;
  line-height: 56px;
}
header li a {
  color: #5a4944;
  font-size: 1rem;
  display: block;
}
header li:hover {
  cursor: pointer!important;
}
/*トップ*/
.top {
  text-align: center;
}
.top h1 {
  margin: 184px 0 64px 0;
  font-size: 2rem;
  border-bottom: solid 5px #dae4ff;
  padding-bottom: 4px;
  display: inline-block;
}
.dounuts img {
  margin-bottom: 104px;
  width: 80%;
}
/*作品概要*/
.top-description {
  width: 80%;
  margin: 0 auto;
}
.top-description h2,.details h2 {
  font-size: 1.8rem;
  border-bottom: solid 5px #dae4ff;
  padding-bottom: 4px;
  display: inline;
}
.top-description h3 {
  margin: 40px 0 64px 0;
  font-size: 1.5rem;
  text-align: center;
}
.description-p {
  font-size: 1.3rem;
  line-height: 1.2;
  white-space: pre-line;
}
.setting h4,.purpose h4,.color h4 {
  font-size: 1.4rem;
  border-bottom: solid 5px #dae4ff;
  padding-bottom: 4px;
  display: inline;
}
.top-p {
  margin-top: 32px;
}
.setting p,.purpose p {
  margin-bottom: 24px;
  font-size: 1.2rem;
}
.setting,.purpose,.color {
  margin-top: 64px;
}
.site {
  font-size: 1.2rem;
  margin-top: 40px;
}
.color p {
  font-size: 1.2rem;
  white-space: pre-line;
  line-height: 2;
}
.second-p {
  margin-top: 16px;
}
.color h6 {
  font-size: 1.3rem;
  margin-top: 16px;
  font-weight: normal;
}
.site-image {
  font-size: 1.5rem;
  border-bottom: solid 3px #dae4ff;
  padding-bottom: 4px;
  display: inline;
}
.time {
  padding: 96px 0;
  width: 80%;
  margin: 0 auto;
}
.time h5 {
  font-size: 1.5rem;
  border-bottom: solid 5px #dae4ff;
  padding-bottom: 4px;
  display: inline-block;
}